@using Microsoft.AspNetCore.Mvc.Localization
@using Sras.PublicCoreflow.Localization
@inject IHtmlLocalizer<PublicCoreflowResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
